# Database
DATABASE_URL="postgresql://postgres:PASSWORD@localhost:5432/muabandocu?schema=public"

# JWT Authentication
JWT_SECRET="your-secret-key-here"

# Cloudinary
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"
